* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact-card {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 768px;
  background: linear-gradient(45deg, rgba(99, 165, 225, 0.5) 0%, rgba(99, 165, 225, 0.5) 14.286%, rgba(93, 143, 222, 0.5) 14.286%, rgba(93, 143, 222, 0.5) 28.572%, rgba(87, 120, 218, 0.5) 28.572%, rgba(87, 120, 218, 0.5) 42.858%, rgba(81, 98, 215, 0.5) 42.858%, rgba(81, 98, 215, 0.5) 57.144%, rgba(74, 75, 211, 0.5) 57.144%, rgba(74, 75, 211, 0.5) 71.43%, rgba(68, 53, 208, 0.5) 71.43%, rgba(68, 53, 208, 0.5) 85.716%, rgba(62, 30, 204, 0.5) 85.716%, rgba(62, 30, 204, 0.5) 100.002%), linear-gradient(135deg, #80082e 0%, #80082e 14.286%, #862b48 14.286%, #862b48 28.572%, #8c4d61 28.572%, #8c4d61 42.858%, #93707b 42.858%, #93707b 57.144%, #999295 57.144%, #999295 71.43%, #9fb5ae 71.43%, #9fb5ae 85.716%, #a5d7c8 85.716%, #a5d7c8 100.002%);
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  color: white;
  padding: 2em;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
      grid-template-areas: "name" "image" "social" "position" "description";
}

.profile-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.profile-position {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: position;
}

.profile-info {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: description;
}

.profile-img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.social-icons-list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: social;
}

.profile-info {
  font-weight: 300;
  opacity: .7;
}

.profile-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: .75em 0 0;
  line-height: 1;
}

.profile-name::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  background: #dbcbff;
  margin: .5em auto .65em;
  opacity: .25;
}

.profile-position {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 3px;
  margin: 0 0 .5vem;
  line-height: 1;
  color: #dbcbff;
}

.profile-img {
  -ms-grid-column-align: center;
      justify-self: center;
  min-width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 7rem;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  -webkit-animation: animated-gradient 2s linear infinite;
          animation: animated-gradient 2s linear infinite;
}

.social-icons-list {
  justify-self: center;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
}

.social-link {
  color: rgba(219, 203, 255, 0.45);
  font-size: 1.25rem;
  opacity: .75;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.social-link:hover,
.social-link:focus {
  color: #dbcbff;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .contact-card {
    text-align: left;
    -ms-grid-columns: fit-content 1fr;
        grid-template-columns: -webkit-fit-content 1fr;
        grid-template-columns: fit-content 1fr;
        grid-template-areas: "image name" "position description" "social description";
  }
  .profile-name {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .profile-position {
    text-align: center;
  }
  .profile-info {
    margin: 0;
  }
  .profile-name::after {
    margin-left: 0;
  }
}

@-webkit-keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}
/*# sourceMappingURL=styles.css.map */